; /etc/systemd/system/kotohirayu-web.socket に設置
[Unit]
Description=KotohiraYu Web socket

[Socket]
ListenStream=/run/kotohirayu-web.sock
; ウェブサーバーのユーザーに変更してください
User=nginx

[Install]
WantedBy=sockets.target
