; Systemd向けの設定ファイルです。コピーして使用してください
[Unit]
Description=Kotohira Yu-Chan Mastodon Bot Service
After=network.target

; ExecStartやWorkingDirectoryは設置場所に応じて変更
; UserやGroupも、実行権や書き込みなど問題がないユーザーやグループを指定
[Service]
Type=simple
ExecStart=/usr/bin/python3 /path/to/KotohiraYu.py
Restart=on-failure
WorkingDirectory=/path/to
User=yu
Group=yu
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
