[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "*"
pytz = "*"
requests = "*"
six = "*"
toml = "*"
Jinja2 = "*"
"Mastodon.py" = "*"
peewee = "*"
peewee-migrations = "*"
psycopg2 = "*"
flask = "*"
flask-jwt = "*"
gunicorn = "*"
flask-limiter = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python KotohiraYu.py"
webapi = "gunicorn Yu.webapi:app -c config/wsgi_config.py"
webapidev = "python patchScripts/runWebAPIdev.py"
memoconvert = "python patchScripts/UserMemoConverter.py"
memoexport = "python patchScripts/UserMemoExport.py"
movementdb = "python patchScripts/movementDB.py"
migrate = "pem migrate"
