{% extends "BASE.html" %}

{% block title %}Database | Yu-Console{% endblock %}

{% block body %}
<h1>Table List</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Table Name</th>
            </tr>
        </thead>
        <tbody>
            {% for tableList in tableLists %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/db/{{ tableList }}">{{ tableList }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
