{% extends "BASE.html" %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Yu-Console</h1>
    <p class="lead">Manage, check</p>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Panic Log</h5>
        <p class="card-text">View the log when an unexpected error occurs.</p>
        <a href="/panic-log/" class="btn btn-primary">Go</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Database</h5>
        <p class="card-text">Browse the database.</p>
        <a href="/db/" class="btn btn-primary">Go</a>
    </div>
</div>
{% endblock %}
