{% extends "BASE.html" %}

{% block title %}Panic List | Yu-Console{% endblock %}

{% block body %}
<h1>Panic Log</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date(Filename)</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for panicList in panicLists %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/panic-log/{{ panicList }}">{{ panicList }}</a></td>
                <td>
                    <a class="btn btn-primary" href="/panic-log/{{ panicList }}?raw" download="PANIC-{{ panicList }}.LOG" title="Download" role="button"><i class="fas fa-cloud-download-alt"></i></a>
                    <a class="btn btn-danger" href="javascript:void()" onclick="deletePanicLogDialog({{ panicList }})" title="Delete" role="button"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function deletePanicLogDialog(panicDate) {
        if (window.confirm('Are you sure delete this file?:\n' + panicDate)) {
            document.location.href = '/panic-log/' + panicDate + '/delete';
        }
    }
</script>
{% endblock %}
