{% extends "BASE.html" %}

{% block title %}Status | Yu-Console{% endblock %}

{% block body %}
<h1>Status</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statusList %}
            <tr>
                <th scope="row">{{ status.title }}</th>
                <td>{{ status.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
